/* Nová pravidla */
.item {
    position: relative;
    width: 22%;
    margin: 1%;
    height: auto;
    display: inline-block;
    text-align: center;
}

h1{
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 4em;
}

/* Nová pravidla */
body {
    margin: 0px;
    text-align:center
}

/* Nová pravidla */
img {
    width: 100%;
    transition: 1s;
    z-index:3
}

/* Nová pravidla */
img:hover {
    width: 110%;
    transition: 0.6s;
    margin-left: -5%;
    margin-bottom: -8%;
    margin-top:-7%;
}

/* Nová pravidla */
a {
    width: 100%;
    position: relative;
    height: 20vw;
    z-index:2;
    color:black;
    text-decoration:none;
    z-index: 3;
}

/* Nová pravidla */
p {
    font-size: 2em;
    margin: 0px;
    font-family: Segoe UI;
    font-weight: 100;
    z-index:1;
}

item div {
    z-index: 50;
}
 