@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
    string[] Names = new string[9] { "CD", "CPU", "GPU", "HDD", "KB", "MB", "MOR", "PER", "RAM" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Names.Length; i++)
{
    if (Model.Link == Names[i])
    {
        if (i == 0)
        {
            int bef = 8;
            int af = i + 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else if (i == 8)
        {
            int af = 0;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else
        {
            int af = i + 1;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
    }
}
@for (int i = 0; i < Text.Length; i++){
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
    <h2>Funkce</h2>
    <p>Základní funkcí centrální procesní jednotky (CPU) je přijímat data, zpracovávat je a následně posílat instrukce dalším komponentům. Tyto data zpracovává v tak zvaném strojovém kódu, což je sekvence bitů. Jednoduše řečeno, CPU je mozkem pro celý počítač.</p>
    <h2>Historie</h2>
    <p>Procesory byly vyvíjeny již během druhě světové války. První skutečné procesory byly zkonstruovány okolo roku 1950.Velikost takových jednotek se blížila velké skříni na oblečení a jejich přesuny byly zajišťovány letadly nebo nákladními automibily. Frekvence takovýchto “krabic“ byla 600kHz až 2 MHz (1000x méně nežli dnešní kancelářské laptopy). V 70. letech byl započat další velký krok ve výpočetní technice. Všechny obvody byly sloučeny do jednoho centrálního, a tak vznikl mikroprocesor, který měl mnohem menší výkon, ale byl podstatně skladnější. Dnes jsou mikroprocesory součástí všech běžných stolních počítačů. </p>
