@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Text.Length; i++){
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
    <h2>Funkce</h2>
    <p>Základní funkcí centrální procesní jednotky (CPU) je přijímat data, zpracovávat je a následně posílat instrukce dalším komponentům. Tyto data zpracovává v tak zvaném strojovém kódu, což je sekvence bitů. Jednoduše řečeno, CPU je mozkem pro celý počítač.</p>
    <h2>Historie</h2>
    <p>Procesory byly vyvíjeny již během druhě světové války. První skutečné procesory byly zkonstruovány okolo roku 1950. </p>
