@using ITP.Models;
@{
    Layout = "~/Shared/Layout.cshtml";
    ViewBag.Title = "CPU";
}

<p>Já</p>
<p>Mám</p>
<p>Hodně</p>
<p>Neuvěřitelně</p>
<p>Rád</p>
<p>Pizzu</p>
<p>Máso</p>
<p>Canon</p>
<p>A</p>
<p>Zamozřejmě</p>
<p>Matika</p>