@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
    string[] Names = new string[9] { "CD", "CPU", "GPU", "HDD", "KB", "MB", "MOR", "PER", "RAM" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Names.Length; i++)
{
    if (Model.Link == Names[i])
    {
        if (i == 0)
        {
            int bef = 8;
            int af = i + 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else if (i == 8)
        {
            int af = 0;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else
        {
            int af = i + 1;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
    }
}
@for (int i = 0; i < Text.Length; i++)
{
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
<h2>Historie</h2>
<p>1970</p>
<p>ANTIC a CTIA zavedli hardware podporu textových a obrázkových módu, pohyblivé symboly a další efekty na počítače Atari-8bit. ANTIC byl čip na mapování textu i grafiky do video výstupu. Návrhář čipu ANTIC později také navrhl grafiku pro firmu Commodore Amiga.</p>
<h2>Charakteristika</h2>
<p>Grafická karta zajišťuje obrazový výstup z počítače na monitor. Obsahuje vlastní grafický procesor GPU (Graphic Processing Unit) a také VRAM (Video RAM), která využívá nejpokročilejších technologií GDDR4/5.</p>
<h2>Sloty</h2>
<p>Slot(y) pro grafické karty se nacházejí na základní desce. V současné době jde především o slot PCI Express (PCIe).</p>
    <h2>Výkon</h2>
    <p>Jediný spolehlivý způsob porovnání výkonu GPU, je rychlost rendrování stejného objektu, při stejném nastavení</p>
