@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Text.Length; i++)
{
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
    <h2>Funkce</h2>
<p>základní funkcí centrální procesní jednotky (CPU) je přijímat data, zpracovávat je a následně posílat instrukce dalším komponentům</p>
<p>tyto data zpracovává v tak zvaném strojovém kódu, což jsou jednoduché instrukce v jazyce daném pro architekturu daného procesoru</p>
<p>CPU je mozkem pro celý počítač</p>