@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
    string[] Names = new string[9] { "CD", "CPU", "GPU", "HDD", "KB", "MB", "MOR", "PER", "RAM" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Names.Length; i++)
{
    if (Model.Link == Names[i])
    {
        if (i == 0)
        {
            int bef = 8;
            int af = i + 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else if (i == 8)
        {
            int af = 0;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else
        {
            int af = i + 1;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
    }
}
@for (int i = 0; i < Text.Length; i++)
{
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
<h2>HDD</h2>
<p>	HDD
Pevný disk (anglicky HDD - Hard Disk Drive) slouží k uchování většího množství dat na delší dobu. Funguje na principu magnetické indukce. Disk obsahuje kovové nebo keramické plotny, které na sobě mají tenkou magnetickou vrstvu, na kterou se ukládají data. Vyplatí se na něj ukládat větší množství dat.
Výhody jsou cena, kapacita a životnost, narozdíl od SSD disků, které se rychleji opotřebí. Nevýhody jsou pomalá rychlost zápisu a čtení dat, dále pak váha a spotřeba elektrické energie. Poprvé se objevily v roce 1956. Nyní mají moderní pevné disky do 10 000 Kč kapacitu od několika mega bajtů do 10 TB.
</p>