@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<head>
    <title>IT project</title>
</head>
<body>
    <div>
        <div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div><!--
        --><div class="item">
            <div>
                <img />
            </div>
            <p>Test</p>
        </div>
    </div>
</body>