@model List<ITP.Models.Item>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<head>
    <title>IT project</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>            

<body>
    <h1>Počítač a jeho Hardware</h1>
    <div>
        @foreach(var tile in Model){
            string link = tile.Link + ".JPG";
            <a href="Home/@tile.Link" class="item">
                <div >
                    <img src="~/Img/@link" alt="@tile.Title"/>
                </div>
                <p>@tile.Title</p>
            </a>
        }
    </div>
</body>