@model ITP.Models.Item
@{
    Layout = "~/Shared/_SubLayout.cshtml";
    ViewBag.Title = Model.Link;
    string[] Text = new string[3] { "a", "b", "c" };
    string[] Names = new string[9] { "CD", "CPU", "GPU", "HDD", "KB", "MB", "MOR", "PER", "RAM" };
}
@section title {
    @Model.Title
}
@for (int i = 0; i < Names.Length; i++)
{
    if (Model.Link == Names[i])
    {
        if (i == 0)
        {
            int bef = 8;
            int af = i + 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else if (i == 8)
        {
            int af = 0;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
        else
        {
            int af = i + 1;
            int bef = i - 1;
            @section after {@Names[af]}
            @section before {@Names[bef]}
        }
    }
}
@for (int i = 0; i < Text.Length; i++)
{
    string Link = Model.Link + Text[i] + ".JPG";
    <img src="~/Img/@Link" />
}
</div>
<div id="text">
<h2>Rozměry (v mm)</h2>
<p>mikro ATX: 244x244</p>
<p style="padding-left:2.6em">ATX: 305x244 </p>
<p style="padding-left:2em">eATX: 305x330</p>
<h2>Funkce</h2>
<p>Motherboard (Základní deska) propojuje všechny komponenty v PC a zadává jim instrukce a usměrňuje jejich funkci. Slouží také k připojení externích zařízení přes širokou škálů různých konektorů(USB, VGA, HDMI, PCI). </p>
<h2>Chipset</h2>
<p>Integrovaný obvod, který kordinuje komunikaci mezi procesorem a ostatními komponenty na desce.</p>
<h2>Patice</h2>
<p>Místo pro připojení procesoru. Má vždy specifické uspořádání pro piny.</p>
<h2>PCI-E</h2>
<p>Konektor pro připojení Grafické karty.</p>
<h2>RAM</h2>
<p>Každá deska má určitý počet slotů pro RAM. Dále má omezení pro takt a kapcitu RAM.</p>