@using ITP.Models
<!DOCTYPE html>
<html>
<head>
    <link href="../Content/StyleSheet2.css" rel="stylesheet" type="text/css" />
    <title>Model.Titl</title>
	<meta charset="utf-8" />
</head>
<body>
    <a href="../Home/Index"><img class="home" src="../Img/Home.png" /></a>
    <div>
        @var link = @ViewBag.Title;
        @Linka = link + "a.JPG"

        <img src="~/Img/"/>
        <img src="~/Img/" />
        <img src="~/Img/" />
        <h1>@Model.Title</h1>
        <div>
            @RenderBody()
        </div>
        <p id="copyright">© Pavel Verner, José Smutný</p>
    </div>
        
</body>
</html>
